@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.6/css/flag-icon.min.css");
@import url("https://fonts.googleapis.com/css2?family=Grechen+Fuemen&display=swap");

/* import fonts */
@font-face {
  font-family: "Opensans-bold";
  src: url("../../public/fonts/OPENSANS-BOLD_1.TTF");
}

@font-face {
  font-family: "Opensans-bold-italic";
  src: url("../../public/fonts/OPENSANS-BOLDITALIC_1.TTF");
}
@font-face {
  font-family: "Opensans-extra-bold";
  src: url("../../public/fonts/OPENSANS-EXTRABOLD_1.TTF");
}
@font-face {
  font-family: "Opensans-extra-bold-italic";
  src: url("../../public/fonts/OPENSANS-EXTRABOLDITALIC_1.TTF");
}
@font-face {
  font-family: "Opensans-italic";
  src: url("../../public/fonts/OPENSANS-ITALIC_1.TTF");
}
@font-face {
  font-family: "Opensans-light";
  src: url("../../public/fonts/OPENSANS-LIGHT_1.TTF");
}
@font-face {
  font-family: "Opensans-light-italic";
  src: url("../../public/fonts/OPENSANS-LIGHTITALIC_1.TTF");
}
@font-face {
  font-family: "Opensans-regular";
  src: url("../../public/fonts/OPENSANS-REGULAR_1.TTF");
}
@font-face {
  font-family: "Opensans-semi-bold";
  src: url("../../public/fonts/OPENSANS-SEMIBOLD_1.TTF");
}
@font-face {
  font-family: "Opensans-semi-bold-italic";
  src: url("../../public/fonts/OPENSANS-SEMIBOLDITALIC_1.TTF");
}

:root {
  --primary-color: #7b4a9c;
  --secondary-color: rgb(22 121 178);
  --orange: rgb(248 164 92);
  --blue: rgb(5 79 138);
}

.css-jrzev6-Slider {
  height: 5px !important;
  width: 100% !important;
}
.css-uy858d-Slider {
  border: 2px solid var(--primary-color);
}
.sc-htoDjs .jWpUJH{
  position: absolute;
  bottom: -35px;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

input[type="time"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

h1 {
  @apply text-5xl;
}
h2 {
  @apply text-4xl;
}
h3 {
  @apply text-3xl;
}
h4 {
  @apply text-2xl;
}
h5 {
  @apply text-xl;
}
h6 {
  @apply text-lg;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-sans;
}

code {
  @apply font-mono p-1 inline rounded font-bold;
}
pre {
  @apply font-mono p-2 block rounded font-bold;
  @apply whitespace-pre-wrap;
}

ul {
  @apply list-none;
}

*,
input,
select,
textarea,
option,
button {
  outline: none !important;
  &:focus {
    outline: none !important;
  }
}
/**
 * hide scrollbars
 */
::-webkit-scrollbar {
  display: none;
  width: 0 !important;
}
.disable-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.bghjHX,
.bqyzQp > div {
  margin: 0 !important;
}

.react-datepicker__input-container input {
  @apply border-gray-200 rounded-md;

  display: block;
  width: 100%;
  font-size: 0.75rem;
  line-height: 1rem;
}

.for-tenant-slider {
  height: calc(100vh - 70px);
}

.joinot-video {
  height: 550px;
  max-width: 950px;
  width: 100%;
  margin: 5px auto;
}

.joinot-video::after {
  position: absolute;
  content: "";
  background-color: #006ec9;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .5;
}

.banner {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../public/theme/images/banner.jpg');
  min-height: 90vh;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
}

.count-item {
  position: relative;
  overflow: hidden;
  background: #fff;
  width: calc(100% / 4 - 20px);
  height: 210px;
}

.logo {
  filter: brightness(0) invert(1);
}

.logo:hover {
  filter: brightness(1) invert(0);
}

.count-item::before {
  position: absolute;
  content: '';
  width: 146%;
  height: 100%;
  top: 33%;
  left: -141px;
  background: #fbf7ee;
  transform: rotate(43deg);
  z-index: -1;
}
.count-item:hover {
  background-color: #f7a420;
}
.count-item img{
  height: 50px;
  object-fit: contain;
}
.count-item:hover img {
  filter: invert(1) brightness(100);
}
.count-item:hover::before {
  background-color: #fbba52;
}


@media screen and (max-width: 767px) {
  .for-tenant-slider {
    height: auto;
  }
}

.pitem .image {
  transition: all .3s linear;
}

.pitem:hover .image{
  transform: scale(1.2) translateY(-1rem);
}

.sc-bdVaJa:first-child {
  position: absolute;
  top: -85px;
  right: 45px;
}
.sc-bdVaJa:first-child span {
  background-color: #f7a420!important;
}
.bhRnqO::before, .kVtMtA::before{
  border-top-color: #fff!important;
  border-right-color: #fff !important;
}

.sc-bdVaJa:last-child{
  position: absolute;
  top: -85px;
  right: -5px;
}
.sc-bdVaJa:last-child span {
  background-color: #0081e7 !important;
}


.register-sec {
  margin-top: 50px;
  height: 230px;
  background-repeat: no-repeat;
  background-image: url('/theme/images/small-banner.png');
  background-size: contain;
  background-position: right;
  background-color: #b0b4b7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}




#__next {
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  position: relative;
}

body {
  @apply font-sans antialiased text-sm disable-scrollbars;
}

[data-background="light"] {
  @apply text-gray-900;
  code,
  pre {
    @apply bg-gray-100;
  }
}

[data-background="dark"] {
  @apply text-white;
  code,
  pre {
    @apply bg-gray-800;
  }
}

.link {
  @apply text-blue-500;
}

.childs {
  display: none;
}

.parent:hover .childs {
  display: block;
}

.ring-red {
  box-shadow: 0 0 0 3px theme("colors.red.300");
}
.ring-green {
  box-shadow: 0 0 0 3px theme("colors.green.300");
}
.ring-white {
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 1);
}
.ring-black {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 1);
}

.react-switch {
  vertical-align: middle;
  margin-left: 4px;
}

.react-icons {
  vertical-align: middle;
}

.z-1 {
  z-index: 1;
}
.z-2 {
  z-index: 2;
}
.bg-1 {
  background: url(/images/bg-login-1.jpg) no-repeat 0 0 fixed;
  background-size: cover;
}
.bg-login-2 {
  background: url(/images/bg-login-2.png) no-repeat 0 0 fixed;
  background-size: cover;
}
.bg-login-3 {
  background: url(/images/bg-login-2.png) no-repeat 0 0 fixed;
  background-size: cover;
}

/* social media colors */
.text-facebook {
  color: #365397;
}
.text-twitter {
  color: #00a9f1;
}
.text-github {
  color: #2f2f2f;
}

.text-linkedin {
  color: #006db3;
}
.text-apple {
  color: #737373;
}
.text-google {
  color: #4285f4;
}
.text-google-plus {
  color: #e0452c;
}
.text-youtube {
  color: #ff3333;
}
.text-vimeo {
  color: #48b6ed;
}
.text-pinterest {
  color: #ce1a19;
}
.text-yelp {
  color: #c30f00;
}
.text-dribbble {
  color: #ed4584;
}
.text-amazon {
  color: #ff9700;
}
.text-skype {
  color: #00acf4;
}
.text-instagram {
  color: #396d9a;
}
.text-dropbox {
  color: #0d84de;
}
.text-flickr {
  color: #ea0066;
}
.text-tumblr {
  color: #304c68;
}
.text-foursquare {
  color: #207dc5;
}
